version: '2'
services:
  server-healthcheck:
    image: ghcr.io/romancha/server-healthcheck:latest
    hostname: server-healthcheck
    restart: always
    container_name: server-healthcheck

    environment:
      - TELEGRAM_TOKEN=
      - TELEGRAM_CHAT=
      - ALERT_THRESHOLD=3
      - CHECKS_CRON=*/30 * * * * *
      - HTTP_TIMEOUT=10
      - SSL_EXPIRY_ALERT=10
      - DEFAULT_RESPONSE_TIME=0
      - HEALTH_PORT=8081
      - DEBUG=false
    volumes:
      - ./data:/data

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/health"]
      interval: 30s
      timeout: 5s
      start_period: 10s
      retries: 3

    command: /go/bin/app --super=youTelegramUser --super=youTelegramUser2
